body,
html {
    position: relative;
    height: 100%;
    width: 100%;
    color: #4d4d4d
}

body {
    overflow-x: hidden
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

.hr {
    display: inline-block;
    width: 7rem;
    margin: 0;
    height: 1px;
    background: #717171;
    border-bottom: 2px solid #4d4d4d
}

.blank {
    color: transparent
}

.blank-space {
    width: 7.9rem;
    display: inline-block
}

.last-p {
    margin-bottom: -9px
}

.gray {
    color: #a8a8a8
}

.yellow {
    color: #ffc107
}

.papo {
    padding: 3rem 0rem;
    text-align: center
}

.papo__img {
    padding: 2.5rem 0rem;
    width: 250px
}

.papo__video {
    width: 705px;
    height: 411px;
}

.papo-page h1 {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 0
}

.papo-page h2 {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 100;
    margin-bottom: 0
}

.papo-page h4 {
    font-size: 21px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 0
}

.papo-page h5 {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 0
}

@media (max-width:767px) {
    .papo__img {
        width: 100%
    }
    .papo__video {
        width: auto;
        height: auto;
    }
}

.callout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 130px;
    background-color: #ef4136;
    text-align: center;
    color: #fff
}

.callout h2 {
    font-weight: 300
}

.callout .highlight {
    font-weight: 500
}

.videos {
    padding: 3rem 3rem 0rem 3rem
}

.videos__item {
    padding-bottom: 3rem;
    margin: auto
}

.videos__item--frame {
    width: 452px;
    height: 276px;
}

@media (max-width:767px) {
    .videos {
        position: relative;
        padding: 3rem 0rem
    }
    .videos__item--frame,
    .videos__item--title {
        padding: 0rem 0rem;
        width: auto;
        height: auto;
    }
}

.audios {
    padding: 4rem 3rem
}

.audios h2 {
    font-weight: 400
}

.audios__list {
    padding: 0rem 3rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.audios__list--header {
    margin-bottom: 2rem
}

.audios__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative
}

.audios__item .blank-space {
    width: auto
}

.audios__item--wrapper {
    width: 100%;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.audios__item--btn {
    -ms-flex-line-pack: center;
    align-content: center;
    justify-self: flex-start
}

.audios__item--btn .play-btn {
    width: 3rem;
    margin-right: 2rem
}

.audios__item--header {
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: flex-start
}

.audios__item--length {
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: flex-end
}

@media (max-width:767px) {
    .audios__item--title,
    .separator {
        display: none
    }
    .audios {
        padding: 4rem 0rem
    }
    .audios__list {
        padding: 0rem 0rem
    }
    .audios__item--btn .play-btn {
        margin-right: .5rem
    }
}

.mailing-list {
    position: absolute;
    margin-top: -4.3rem;
    height: 9rem;
    width: 100%
}

.mailing-list .container {
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 20px rgba(62, 70, 79, .2);
    box-shadow: 0 0 20px rgba(62, 70, 79, .2)
}

.mailing-list .container .row {
    padding: 2.5rem 0rem
}

.mailing-list__callout {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.2rem;
    color: #555;
    padding-left: 3rem
}

.mailing-list__input {
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 10px
}

.mailing-list__input-email {
    border-radius: 5px 0 0 5px;
    border: 1px solid #a8a8a8;
    background-color: #f1f2f4;
    padding-left: 1rem;
    font-family: Roboto;
    height: 2.5rem;
    margin-left: 2px;
    width: 60%
}

.mailing-list__button {
    border-radius: 0 5px 5px 0;
    border: 0 solid #a8a8a8;
    background-color: #f1f2f4;
    padding: 0rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    color: #fff;
    background-color: #00cd68;
    height: 2.5rem;
    margin-left: -.5rem;
    line-height: normal;
    width: 30%
}

@media (min-width:768px) {
    .about-sm {
        display: none
    }
    .about__title {
        margin-top: -.7rem
    }
    .about__text {
        line-height: 1.8
    }
    .assista {
        padding-top: 7.7rem;
        padding-bottom: 7.7rem
    }
    .assista__callout {
        margin-bottom: -1rem
    }
    .assista__callout-img-sm {
        display: none
    }
    .assista__callout-img-md {
        margin-bottom: -2.4rem;
        text-align: right;
        padding-right: 0
    }
    .assista-img {
        padding-top: 1.3rem;
        height: 14.8rem
    }
    .cursos {
        padding-top: 7.7rem;
        padding-bottom: 7.7rem
    }
    .depoimentos {
        padding-top: 7.7rem;
        padding-bottom: 7.7rem
    }
    .about {
        padding-top: 7.7rem;
        padding-bottom: 7.7rem
    }
}

@media (max-width:767px) {
    br,
    span br {
        content: ' '
    }
    .main__callout .main__lead {
        font-size: 1.3rem
    }
    .main__callout .main__headline {
        font-size: 5rem
    }
    .mailing-list {
        position: relative;
        text-align: center;
        margin-top: initial
    }
    .mailing-list__callout {
        padding-left: initial
    }
    .mailing-list .mailing-list__callout br {
        content: ' '
    }
    .mailing-list .mailing-list__input-email {
        margin-top: 1rem;
        width: 70%
    }
    .mailing-list__button {
        padding-left: 2px
    }
    .assista__callout {
        text-align: center
    }
    .assista__callout-description,
    .assista__callout-main {
        text-align: center
    }
    .assista__callout-img-sm {
        text-align: right;
        padding-right: 0;
        margin: 2rem auto 2rem auto
    }
    .assista__callout-img-md {
        display: none
    }
    .cursos__section-header {
        padding-left: 1rem
    }
    .cursos__item-1,
    .cursos__item-2,
    .cursos__item-3 {
        height: 10rem;
        margin-bottom: 1rem
    }
    .depoimentos__section-header {
        padding-left: 1rem
    }
    .depoimentos__item-1,
    .depoimentos__item-2 {
        margin-bottom: 1rem
    }
    .about {
        height: auto;
        background: #f5f5f5;
        background-size: auto;
        font-size: 1.5rem
    }
    .about__text,
    .about__title {
        padding-left: .5rem;
        padding-right: .5rem
    }
    .about__title {
        text-align: center;
        font-size: 3rem
    }
    .about__text p br {
        content: ' '
    }
    p {
        line-height: 1.5
    }
    .landing-callout br {
        content: ' '
    }
    .list__item--title {
        height: auto
    }
    .list__item--1 .list__item--title,
    .list__item--3 .list__item--title {
        padding: 1rem 0rem 0rem .5rem
    }
    .list__item--1 .list__item--description,
    .list__item--3 .list__item--description {
        padding: 0rem 0rem 0rem .5rem
    }
    .list__item--2 .list__item--title,
    .list__item--4 .list__item--title {
        padding: 1rem .5rem 0rem 0rem
    }
    .list__item--2 .list__item--description,
    .list__item--4 .list__item--description {
        padding: 0rem .5rem 0rem 0rem
    }
    .landing-callout__list--description {
        margin-bottom: 1rem
    }
    .list__item--img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        margin: auto
    }
    .list__item--1 .list__item--img {
        background-color: #79c942
    }
    .list__item--2 .list__item--img {
        background-color: #ff931e
    }
    .list__item--3 .list__item--img {
        background-color: #3fa9f5
    }
    .list__item--4 .list__item--img {
        background-color: #fe1e26
    }
    .landing-description br {
        content: ' '
    }
    .calltoaction__lead {
        font-size: 2rem
    }
    .calltoaction__headline {
        font-size: 3.5rem
    }
}

.mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
    background: #01CAFF !important;
}

.audio__item--download {
    position: absolute;
    right: 1.5rem;
}

.audios__item--player {
    padding: 0.5rem 0rem;
}

.download-btn {
    background-image: url('../img/icon/download.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0rem;
    right: 2rem;
}

.momento-da-virada {
    background-color: #FFD200;
}

.mentoria {
    background-color: #01CAFF;
}

.momento-da-virada__page {
    background-color: #EF4136;
}

.aperte-o-play__page {
    background-color: #FFD200;
}

.mentoria__page {
    background-color: #01CAFF;
}

.btn {
    width: 75%;
    background-color: #00CD68;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
}

.btn-subscribe {
    height: 61px;
    width: 271px;
    background-color: #00CD68;
    color: white;
    font-size: 1.4rem !important;
    font-family: Roboto;
    font-weight: 500;
    margin: 73px 0px 1.5625rem 0px;
}

.success-btn__wrapper {
    text-align: center;
    margin: 2rem;
}

.success-btn {
    background-color: #01CAFF;
    font-weight: 700;
    width: 3rem;
}

body {
    position: absolute;
    height: 100%;
}

.row {
    height: 100%;
}

.treinamento__wrapper h1 {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 300;
}

h6 {
    font-weight: 300;
}

p {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 100;
}

.treinamento__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4rem;
}

.treinamento__logo {
    margin: 1rem 0rem;
}

.modal-title-wrapper {
    width: 100%;
    text-align: center;
}

.modal-subtitle {
    padding: 1rem;
    font-family: Roboto;
    font-weight: 100;
}

.treinamento-modal__header {
    background-color: #EF4136;
    color: white;
}

.success-modal__header {
    background-color: white;
}

.modal-body {
    text-align: center;
}

.success-modal__img {
    height: 7rem;
    margin: 1rem auto;
}

input,
button,
submit {
    border: none;
}

input {
    line-height: 2rem;
}

input,
textarea {
    margin: .5rem;
    width: 95%;
    border: none;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #f1f2f4;
    padding-left: .5rem;
}

input:focus,
textarea:focus {
    background-color: white;
}

.clear {
    text-align: center;
}

.button {
    margin: 1rem auto;
    background-color: #00cd68 !important;
    color: white;
    font-weight: 300 !important;
    width: 50% !important;
}

.button:focus {
    background-color: #00cd68;
}

@media (max-width: 767px) {
    #mc_embed_signup .button {
        padding: 0px !important;
    }
}

.beneficios,
.etapas, .bonus {
    text-align: center;
    padding: 73px 0px;
}

.beneficios .row,
.etapas .row, .bonus .row {
    justify-content: space-around;
}

.beneficios {
    background-color: #F2F2F2;
    min-height: 100%;
}

.beneficios__item, .etapas__item {
    margin-top: 73px;
}

.etapas {
    background-color: #ECECEC;
    min-height: 100%;
}

.beneficios__item--label {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.25rem;
    margin: .5rem 0rem 0rem 0rem;
}

.etapas h1 {
    font-family: 'Roboto';
    font-size: 1.875rem;
}

.etapas h2 {
    font-family: 'Roboto';
    font-size: 1.5625rem;
}

.etapas__item {
    background-color: #fff;
    display: inherit;
    height: auto;
    margin: 2rem 1.2rem;
    line-height: 1;
    padding-left: 0;
    padding-right: 0
}

.etapas__item .left {
    text-align: left;
    justify-content: flex-start
}

.etapas__item .right {
    text-align: right;
    justify-content: flex-end
}

.etapas__item--label {
    margin: 1rem;
}

.etapas__item .label__count {
    font-size: 0.75rem;
}

.etapas__item .label__title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.2;
    height: 3rem
}

.investimento__datas {
    background-color: #01CAFF;
}

.investimento__valor {
    margin-top: -1rem;
    margin-bottom: -1rem;
    background-color: lightgrey;
    padding-left: 0px;
    padding-right: 0px;
}

.investimento__valor--header {
    background-color: black;
    color: white;
}

.investimento__items {
    background-color: #01CAFF;
}