.audios {
    padding: 4rem 3rem;
    h2 {
        font-weight: 400;
    }
}

.audios__list {
    padding: 0rem 3rem;
    justify-content: space-between;
}

.audios__list--header {
    margin-bottom: 2rem;
}

.audios__item {
    display: flex;
    align-self: center;
    position: relative;
    .blank-space {
        width: auto;
    }
}

.audios__item--wrapper {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between
}

.audios__item--btn {
    align-content: center;
    justify-self: flex-start;
    .play-btn {
        width: 3rem;
        margin-right: 2rem;
    }
}

.audios__item--header {
    align-self: center;
    justify-self: flex-start;
}

.audios__item--length {
    align-self: center;
justify-self: flex-end;
}

@media (max-width: 767px) {
    .audios__item--title, .separator {
        display: none;
    }
    .audios {
        padding: 4rem 0rem;
    }
    .audios__list {
        padding: 0rem 0rem;
    }
    .audios__item--btn .play-btn {
        margin-right: .5rem;
    }
}