.videos {
    display: flex;
    justify-content: center;
    padding: 3rem 3rem 0rem 3rem;
}

.videos__item {
    padding-bottom: 3rem;
    margin: auto;
    width: fit-content;
}

.videos__item--frame {
    width: 452px;
    height: 276px;
}