.audios {
    padding: 1rem 3rem;
    h2 {
        font-weight: 400;
    }
}

.audios__list {
    padding: 2rem 3rem;
}

.audios__list--header {
    margin-bottom: 2rem;
}

.audios__item {
}

.audios__item--btn .play-btn {
    width: 3rem;
    margin-right: 2rem;
}

.audios__item--title {
    align-self: center;
}

.audios__item--length {
    align-self: center;    
}