.header {
    position: relative;
}

h1 {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 300;
}

.papo {
    padding: 1.5rem 0rem;
    text-align: center;
}

.papo__img {
    padding: 2.5rem 0rem;
    width: 306px;
}

.papo__video {
    width: 705px;
}

