.about-sm {
    width: 100%;
    height: 15rem;
    background: url(../img/rafaelribeiro.jpg) no-repeat left top;
    background-size: cover;
}

.about {
    min-height: 95%;
    padding: 2rem 5rem;
    background: url(../img/rafaelribeiro.jpg) no-repeat right top;
    background-size: 100% auto;
    color: white;
}

.about__title-white {
    font-family: 'Roboto'; font-weight: 300;
    font-size: 2rem;
    color: white;
}

.about__title-blue {
    font-family: 'Roboto'; font-weight: 700;
    font-size: 2rem;
    color: $azul;
}

.about__text {
    font-family: 'Roboto'; font-weight: 300;
}