@font-face {
    font-family: Roboto;
    src: url('../font/Roboto.ttf');
}

@font-face {
    font-family: 'Roboto'; font-weight: 300;
    src: url('../font/'Roboto'.ttf');
}

@font-face {
    font-family: 'Roboto'; font-weight: 700;
    src: url('../font/'Roboto'.ttf');
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url('../font/Roboto-ThinItalic.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Poppins:800');
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    color: $preto-claro;
}

body {
    overflow-x:hidden;
}

a,
a:hover {
    color: $preto-claro;
}

.hr {
    display: inline-block;
    width: 7rem;
    margin: 0;
    height: 1px;
    background: #717171;
    border-bottom: 2px solid $preto-claro;
}

.blank {
    color: transparent;
}
