.cursos {
height: 95%;
}

.cursos__section-title {
    padding-left: 0px;
}

.cursos__container .row {
display: flex;
}

.cursos__item {
    background-color: grey;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 5.5rem;
    display: flex;
    align-content: center;
    span {
        align-self: center;
        color: white;
        font-size: 2rem;
    }
}


