.depoimentos {
    height: 98%;
    background-color: $azul;
    display: flex;
    align-items: center;
}

.depoimentos__section-title {
}

.depoimentos__section-title span {
    font-family: Roboto-Bold;
}

.depoimentos__list {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 2rem;
}

.depoimentos__item {
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}