//footer//
.footer {
    min-height: 80%;
    font-family: Roboto-Bold;
    font-size: 1.2rem;
}

.footer .mailing-list__callout {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.footer__menu {
    font-family: Roboto-Bold;
    font-size: 1.1rem;
    span {
        display: block;
        margin-bottom: .5rem;
    }
}

.footer__bottom {
    margin-top: 6rem;
}

.footer__social .social-icon {
    background-color: black;
}

.footer__logo, .footer__copyright {
    text-align: center;
}
