//header//
.header {
    background-color: $azul;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.nav {
    height: 4.5rem;
}

.nav__brand {
    align-self: center;
    text-align: center;
}

.nav__brand-logo {}

.nav__menu {
    justify-content: flex-end;
    padding-left: 2.75rem;
    a {
        color: inherit;
    }
}

.nav__item {
    align-self: center;
    text-align: center;
    margin-left: 1rem;
    color: $branco;
    font-size: 1rem;
}

.gray {
    color: $cinza-claro;
}

.yellow {
    color: $yellow;
}