.mailing-list {
    position: absolute;
    margin-top: -3.5rem;
    width: 100%;
    padding: 0rem 9rem;
    display: flex;
}

.mailing-list .container {
    height: 10rem;
    background-color: white;
}