.mailing-list {
    position: absolute;
    margin-top: -4rem;
    min-height: 9rem;
    width: 100%;
}

.mailing-list .container {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(62,70,79,.2);
}

.mailing-list .container .row {
    padding: 2.5rem 0rem;
    width: 100%;
}

.mailing-list__callout {
    font-family: Roboto-Bold;
    font-size: 1.2rem;
    color: $cinza-escuro;
    padding-left: 3rem;
}

.mailing-list__input {
    align-self: center;
    border-radius: 10px;
}

.mailing-list__input-email {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid $cinza-claro;
    background-color: $cinza-bg;
    padding-left: 1rem;
    font-family: Roboto;
    height: 2.5rem;
    margin-left: 2px;
    width: 60%;
}

.mailing-list__button {
    border-radius: 0px 5px 5px 0px;
    border: 0px solid $cinza-claro;
    background-color: $cinza-bg;
    padding: 0rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    color: white;
    background-color: $verde;
    height: 2.5rem;
    margin-left: -.5rem;
    line-height: normal;
    width: 30%;
}