.main {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    height: 85%;
    background: url(../img/rafa_ribeiro_home.jpg) no-repeat right top;
    background-size: cover;
}

.main__callout {
    align-self: center;
    text-align: center;
    color: white;
    margin-top: 5.5rem;
}

.main__lead {
    font-family: Roboto-Light;
    font-size: 1.8rem;
}

.main__headline {
    margin-top: -1rem;
    font-family: Roboto-Bold;
    font-size: 7rem;
}