.calltoaction {
    height: 100%;
    background-color: $azul;
}

.calltoaction__callout {
    margin-top: 15rem;
    margin-bottom: 15rem;
    line-height: 1;
}

.calltoaction__lead {
    font-family: Roboto-Light;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.calltoaction__headline {
    font-family: Roboto-Bold;
    font-size: 5rem;
    color: $amarelo;

}