.depoimentos {
    min-height: 100%;
    background-color: $azul;
    display: flex;
    align-items: center;
}

.depoimentos__section-title {
    font-size: Roboto-Bold;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.depoimentos__section-title span {}

.depoimentos__list {
    padding-top: 2rem;
    margin-bottom: 5rem;
    .row .col {

    }
}

.depoimentos__item-1,
.depoimentos__item-2,
.depoimentos__item-3 {
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    color: whitesmoke;
    h3 {
        font-size: 1.17em;
    }
}

.depoimentos__item-1 {
    background-image: url(../img/depoimentos/rafa_ribeiro_depoimento_xande_bastos.jpg);
}

.depoimentos__item-2 {
    background-image: url(../img/depoimentos/rafa_ribeiro_depoimento_agatha.jpg);
}

.depoimentos__item-3 {
    background-image: url(../img/depoimentos/rafa_ribeiro_depoimento_rafael.jpg);
}

.depoimentos__item-header {
    color: $amarelo;
    margin: 3rem 0rem;
}

.depoimentos__item-body {
    font-family: Roboto-ThinItalic  ;
    font-size: 1.1rem;
    line-height: 1.5;
}