.header {
    background-color: #01CAFF;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.nav {
    height: 4.5rem;
}

.nav__brand {
    align-self: center;
    text-align: center;
}

.nav__menu {
    justify-content: flex-end;
    padding-left: 2.75rem;
    background-color: #01CAFF;
}

.nav__item {
    align-self: center;
    text-align: center;
    margin-left: 4.5rem;
    color: #FFF;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffc107;
    font-weight: 500;
}