//header//

.header {
    background-color: $azul;
    position: absolute;
    z-index: 1;
}

.nav {
    align-content: center;
    height: 4.5rem;
}

.nav__brand {
    align-self: center;
    text-align: center;
}

.nav__brand-logo {
    
}

.nav__menu {
    display: flex;
    padding-left: 2.75rem;
}

.nav__item {
    align-self: center;
    text-align: center;
    margin-left: 1rem;
    color: $branco;
    font-size: 14px;
}

.gray {
    color: $cinza-claro;
}

.yellow {
    color: $yellow;
}