@media (max-width: 767px) {
    span br {
        content: ' ';
    }
    .nav__menu {
        position: absolute;
        top: 4rem;
        right: 0;
        padding-right: 1rem;
    }
    .nav__item {
        align-self: inherit;
        text-align: right;
        margin-left: 0px;
    }
    .main__callout .main__lead {
        font-size: 1.3rem;
    }
    .main__callout .main__headline {
        font-size: 5rem;
    }
    .mailing-list {
        position: relative;
        text-align: center;
        margin-top: initial;
    }
    .mailing-list__callout {
        padding-left: initial;
    }
    .mailing-list .mailing-list__callout br {
        content: ' ';
    }
    .mailing-list .mailing-list__input-email {
        margin-top: 1rem;
        width: 70%;
    }
    .mailing-list__button {
        padding-left: 2px;
    }
    .assista__callout {
        text-align: center;
    }
    .assista__callout-main,
    .assista__callout-description {
        text-align: center;
    }
    .assista__callout-img-sm {
        text-align: right;
        padding-right: 0;
        margin: 2rem auto 2rem auto;
    }
    .assista__callout-img-md {
        display: none;
    }
    .cursos__section-header {
        padding-left: 1rem;
    }
    .cursos__item-1,
    .cursos__item-2,
    .cursos__item-3 {
        height: 10rem;
        margin-bottom: 1rem;
    }
    .depoimentos__section-header {
        padding-left: 1rem;
    }
    .depoimentos__item-1,
    .depoimentos__item-2 {
        margin-bottom: 1rem;
    }
    .about {
        height: auto;
        background: whitesmoke;
        background-size: auto;
        font-size: 1.5rem;
    }
    .about__title,
    .about__text {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .about__title {
        text-align: center;
        font-size: 3rem;
    }
    .about__text p br {
        content: ' ';
    }
    .footer__social {
        text-align: right;
    }
    p {
        line-height: 1.5;
    }
    .landing-callout br {
        content: ' ';
    }
    .list__item--title {
        height: auto;
    }
    .list__item--1 .list__item--title,
    .list__item--3 .list__item--title {
        padding: 1rem 0rem 0rem .5rem;
    }
    .list__item--1 .list__item--description,
    .list__item--3 .list__item--description {
        padding: 0rem 0rem 0rem .5rem;
    }
    .list__item--2 .list__item--title,
    .list__item--4 .list__item--title {
        padding: 1rem .5rem 0rem 0rem;
    }
    .list__item--2 .list__item--description,
    .list__item--4 .list__item--description {
        padding: 0rem .5rem 0rem 0rem;
    }
    .landing-callout__list--description {
        margin-bottom: 1rem;
    }
    .list__item--img {
        display: flex;
        align-items: center;
        height: 100%;
        margin: auto;
    }
    .list__item--1 .list__item--img {
        background-color: #79C942;
    }
    .list__item--2 .list__item--img {
        background-color: #FF931E;
    }
    .list__item--3 .list__item--img {
        background-color: #3FA9F5;
    }
    .list__item--4 .list__item--img {
        background-color: #FE1E26;
    }
    .landing-description br {
        content: ' ';
    }
    .calltoaction__lead {
        font-size: 2rem;
    }
    .calltoaction__headline {
        font-size: 3.5rem;
    }
}