.momento-da-virada__page {
    background-color: #EF4136;
}

.aperte-o-play__page {
    background-color: #FFD200;
}

.mentoria__page {
    background-color: #01CAFF;
}

.btn {
    width: 75%;
    background-color: #00CD68;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
}

.success-btn__wrapper {
    text-align: center;
    margin: 2rem;
}

.success-btn {
    background-color: #01CAFF;
    font-weight: 700;
    width: 3rem;
}

body {
    position: absolute;
    height: 100%;
}

.row {
    height: 100%;
}

h1 {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 300;
}

h6 {
    font-weight: 300;
}

p {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 100;
}

.treinamento__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 4rem;
}

.treinamento__logo {
    margin: 1rem 0rem;
}

.modal-title-wrapper {
    width: 100%;
    text-align: center;
}

.modal-subtitle {
    padding: 1rem;
    font-family: Roboto;
    font-weight: 100;
}

.treinamento-modal__header {
    background-color: #EF4136;
    color: white;
}

.success-modal__header {
    background-color: white;
}

.modal-body {
    text-align: center;
}

.success-modal__img {
    height: 7rem;
    margin: 1rem auto;
}

input,
button,
submit {
    border: none;
}

input {
    line-height: 2rem;
}

input,
textarea {
    margin: .5rem;
    width: 95%;
    border: none;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background-color: #f1f2f4;
    padding-left: .5rem;
}

input:focus,
textarea:focus {
    background-color: white;
}

.clear {
    text-align: center;
}

.button {
    margin: 1rem auto;
    background-color: #00cd68 !important;
    color: white;
    font-weight: 300 !important;
    width: 50% !important;
}

.button:focus {
    background-color: #00cd68;
}

@media (max-width: 767px) {
    #mc_embed_signup .button {
        padding: 0px !important;
    }
}