.landing-description {
    min-height: auto;
    background-color: #F1F2F4;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: black;
}

.landing-description__header {
    line-height: 1;
    text-align: center;
    margin: auto;
}

.landing-description__header h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2rem;
}

.landing-description__main {
    margin: auto;
    text-align: center;
    padding: .5rem;
}

.landing-description__main h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: 300;
}

.landing-description__list {
    justify-content: center;
    padding-bottom: 5rem;
}

.list__item--1,
.list__item--2,
.list__item--3,
.list__item--4 {
    background-color: white;
    display: inherit;
    height: auto;
    margin: 2rem 1.2rem;
    padding: 0;
    line-height: 1;
}

.list__item--1,
.list__item--3 {
    text-align: left;
    justify-content: flex-start;
}

.list__item--1 .list__item--title,
.list__item--3 .list__item--title {
    padding: 3rem 0rem 0rem 1rem;
}

.list__item--1 .list__item--description,
.list__item--3 .list__item--description {
    padding: 1rem 0rem 0rem 1rem;
}

.list__item--2,
.list__item--4 {
    text-align: right;
    justify-content: flex-end;
}

.list__item--2 .list__item--title,
.list__item--4 .list__item--title {
    padding: 3rem 1rem 0rem 0rem;
}

.list__item--2 .list__item--description,
.list__item--4 .list__item--description {
    padding: 1rem 1rem 0rem 0rem;
}

.list__item--3,
.list__item--4 {
    margin-bottom: 0px;
}

.list__item--title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.2;
}

.list__item--description {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem;
    padding: 3rem 0rem 0rem 1rem;
}