html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    color: $preto-claro;
}

body {
    overflow-x:hidden;
}

a,
a:hover {
    color: $preto-claro;
}

.hr {
    display: inline-block;
    width: 7rem;
    margin: 0;
    height: 1px;
    background: #717171;
    border-bottom: 2px solid $preto-claro;
}

.blank {
    color: transparent;
}
