@media (max-width: 767px) {
    span br {
        @include remove-br;
    }
    .main__callout {
        .main__lead {
            font-size: 1.3rem;
        }
        .main__headline {
            font-size: 5rem;
        }
    }
    .mailing-list {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: auto;
        .mailing-list__callout br {
            @include remove-br;
        }
        .mailing-list__input-email {
            margin-top: 1rem;
        }
        .mailing-list__button {
            padding-left: 15px;
        }
    }
    .papo__callout {
        text-align: center;
    }
    .papo__callout-main,
    .papo__callout-description {
        text-align: center;
    }
    .papo__callout-img-sm {
        text-align: right;
        padding-right: 0;
        margin: auto;
    }
    .papo__callout-img-md {
        display: none;
    }
    .cursos__item-1,
    .cursos__item-2,
    .cursos__item-3 {
        height: 10rem;
    }
    .about {
        padding: 0px;
    }
    .about__container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .about__text p br {
        @include remove-br;
    }
}

@media (min-width: 768px) {
    .papo__callout-img-sm {
        display: none;
    }
    .papo__callout-img-md {
        text-align: right;
        padding-right: 0;
    }
}