@media (max-width: 767px) {
    .main__callout {
        .main__lead {
            font-size: 1.3rem;
        }
        .main__headline {
            font-size: 5rem;
        }
    }
    .mailing-list {
        position: relative;
        text-align: center;
        margin: auto;
        .mailing-list__callout br {
            @include remove-br;
        }
        .mailing-list__input-email {
            margin-top: 1rem;
        }
        .mailing-list__button {
            padding-left: 15px;
        }
    }
}

@media (min-width: 768px) {}