// Variáveis //
$branco: #FFF;
$azul: #01CAFF;
$verde: #00CD68;
$vermelho: #EF4136;
$amarelo: #FFD200;
$cinza-bg: #F1F2F4;
$cinza-font: #999999;
$cinza-claro: #A8A8A8;
$cinza-escuro: #606060;
$azul-marinho: #324158;
$ponto-de-quebra: 980px;